# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.vscode

# C extensions
*.so

#output files should not be included
**/bin/
*.semd
*.bin
*.jpg
*.vtk
*.ps
*.dx

#wsl identifier files
*.Identifier

# VS-Code
*.code-workspace

# pixi environments
.pixi# pixi environments
.pixi/*
!.pixi/config.toml
